<p id="notice"><%= notice %></p>
<h1>帳目表</h1>

<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist" id="myTab">
    <li class="active"><%= link_to 'Home', accounts_path %></li>
    <li><%= link_to 'New', new_account_path %></li>
    <li role="presentation" class="active"><a href="#1" role="tab" data-toggle="tab">1月</a></li>
    <% (1..11).each do |i| %>
        <li role="presentation"><a href="#<%= @month_num[i] %>" role="tab" data-toggle="tab"><%= @month_num[i] %>月</a></li>
    <% end %>
  </ul>

  <!-- Tab panes -->
  
</div>


  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="1">
    <h2>1月</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>購買日期</th>
          <th>購買項目</th>
          <th>項目金額</th>
          <th>備註</th>
          <th colspan="3"></th>
        </tr>
      </thead>
  
      <tbody>
        <% @total = 0 %>
        <% @month_details[0].each do |cost1| %>  
         <tr>
            <td><%= account.buyday.to_s(:long) %></td>
            <td><%= account.title %></td>
            <td><%= account.dollar.to_s(:long) %></td>
            <td><%= link_to 'Show', account %></td>
            <td><%= link_to 'Edit', edit_account_path(account) %></td>
            <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      
            <% @total= @total + account.dollar.to_i %>
          </tr>
        <% end %> 
      </tbody>
        <tbody>
          <tr>
            <td></td>
            <td>總計：</td>
            <td colspan="3"><%= @total %></td>
          </tr>
        </tbody>
    </table>
  </div>
    <% (1..11).each do |i| %>
    <div role="tabpanel" class="tab-pane" id="<%= @month_num[i] %>">
    <h2><%= i+1 %>月</h2>
    <table class='table table-hover'>
      <thead>
        <tr>
          <th>日期</th>
          <th>項目</th>
          <th>金額</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <% @month_details[i].each do |cost| %>  
         <tr>
            <td><%= cost.buyday %></td>
            <td><%= cost.item %></td>
            <td><%= cost.spendmoney.to_s(:long) %></td>
            <td><%= link_to 'Edit', edit_cost_path(cost) %></td>
            <td><%= link_to 'Destroy', cost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %> 
        </tbody>
        <tr>
            <td colspan="2" style="text-align:right;">總計</td>
            <td><%= @month_costs[i] %></td>
          </tr>
      </table>
  </div>
  <% end %>
  </div>
</div>


<br>
<%= paginate @accounts, :theme => 'twitter-bootstrap-3' %>
<!--<%= link_to 'New Account', new_account_path, class: 'btn-info btn-lg' %>-->
